
    <div class="header bg-danger text-white">
        <!-- le logo et le nom du site dans l'en-tête  -->
        <h1><a href="{{ path('main_home') }}"><img src="{{ asset('img/logo.svg') }}" alt="Logo de mon site BucketListe"></a></h1>
        <h1>Bucket Liste</h1>
    </div>
    {{ include('menu/nav.html.twig') }}
