{% extends '/base.html.twig' %}

{% block title %}
    {{ parent() }} | About Us
{% endblock %}

{% block body %}
    <h1>A propos de nous ! </h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Ab accusamus architecto autem corporis dolorem doloribus ea
    impedit incidunt libero maxime minima odit officia provident
    quas, quidem repellat veniam voluptas voluptatibus.
{% endblock %}

