<div class="bg-danger text-center text-white p-1">
    <!--   la mention "©Bucket-List" dans le pied de page, suivie de l'année en cours  -->
    <h5>&copy;Bucket-List | {{ "now"|date("Y") }}</h5>

</div>.env