<nav class="text-center m-2">
    <div class="btn-group " role="group" aria-label="Barre de menu">
       <button type="button" class="btn btn-danger text-primary"><a href="{{ path('main_home') }}" class="text-white">Home</a></button>
        <button type="button" class="btn btn-danger text-primary"><a href="{{ path('main_aboutUs') }}" class="text-white">About Us</a></button>
        <button type="button" class="btn btn-danger text-primary"><a href="{{ path('wish_list') }}" class="text-white">Bucket List</a></button>
        <button type="button" class="btn btn-danger text-primary"><a href="{{ path('wish_add') }}" class="text-white">Add an Idea</a></button>
    </div>
</nav>